# Review Results
General notebook for reviewing results files

In [1]:
import pandas as pd

In [2]:
experiment_name = "algs-gpu-2-datasets-a"

# get the list of datasets and algs that we expect for this batch
datasets_list_file = "../scripts/DATASETS_A.sh"
algs_list_file = "../scripts/ALGS_GPU_2.sh"

In [3]:
# parse the expected datasets and algs from the scripts

alg_list = []
dataset_list = []

with open(algs_list_file, 'r') as f:
    lines = f.readlines()
    start = False
    for i, l in enumerate(lines):
        if "MODELS_ENVS" in l:
            start = True
            continue
        if start and (")" in l):
            break
        if start:
            alg_list.append(l.split(":")[0].strip())


with open(datasets_list_file, 'r') as f:
    lines = f.readlines()
    start = False
    for i, l in enumerate(lines):
        if "DATASETS" in l:
            start = True
            continue
        if start and (")" in l):
            break
        if start:
            dataset_list.append(l.split("\n")[0].strip())

print(f"found {len(alg_list)} algs in {algs_list_file}:")
for i, a in enumerate(alg_list):
    print(i+1, a)
print()
print(f"found {len(dataset_list)} datasets in {datasets_list_file}: ")
for i, d in enumerate(dataset_list):
    print(i+1, d)

found 10 algs in ../scripts/ALGS_GPU_2.sh:
1 TabTransformer
2 NODE
3 STG
4 NAM
5 DeepFM
6 SAINT
7 DANet
8 rtdl_MLP
9 rtdl_ResNet
10 rtdl_FTTransformer

found 114 datasets in ../scripts/DATASETS_A.sh:
1 openml__sick__3021
2 openml__kr-vs-kp__3
3 openml__letter__6
4 openml__balance-scale__11
5 openml__mfeat-factors__12
6 openml__mfeat-fourier__14
7 openml__breast-w__15
8 openml__mfeat-karhunen__16
9 openml__mfeat-morphological__18
10 openml__mfeat-zernike__22
11 openml__cmc__23
12 openml__optdigits__28
13 openml__credit-approval__29
14 openml__credit-g__31
15 openml__pendigits__32
16 openml__diabetes__37
17 openml__spambase__43
18 openml__splice__45
19 openml__tic-tac-toe__49
20 openml__vehicle__53
21 openml__electricity__219
22 openml__satimage__2074
23 openml__eucalyptus__2079
24 openml__vowel__3022
25 openml__isolet__3481
26 openml__analcatdata_authorship__3549
27 openml__analcatdata_dmft__3560
28 openml__mnist_784__3573
29 openml__pc4__3902
30 openml__pc3__3903
31 openml__jm1__3904
32 openml__kc2__3913
33 openml__kc1__3917
34 openml__pc1__3918
35 openml__adult__7592
36 openml__Bioresponse__9910
37 openml__wdbc__9946
38 openml__phoneme__9952
39 openml__qsar-biodeg__9957
40 openml__wall-robot-navigation__9960
41 openml__semeion__9964
42 openml__ilpd__9971
43 openml__madelon__9976
44 openml__nomao__9977
45 openml__ozone-level-8hr__9978
46 openml__cnae-9__9981
47 openml__first-order-theorem-proving__9985
48 openml__banknote-authentication__10093
49 openml__blood-transfusion-service-center__10101
50 openml__PhishingWebsites__14952
51 openml__cylinder-bands__14954
52 openml__bank-marketing__14965
53 openml__GesturePhaseSegmentationProcessed__14969
54 openml__har__14970
55 openml__dresses-sales__125920
56 openml__texture__125922
57 openml__connect-4__146195
58 openml__MiceProtein__146800
59 openml__steel-plates-fault__146817
60 openml__climate-model-simulation-crashes__146819
61 openml__wilt__146820
62 openml__car__146821
63 openml__segment__146822
64 openml__mfeat-pixel__146824
65 openml__Fashion-MNIST__146825
66 openml__jungle_chess_2pcs_raw_endgame_complete__167119
67 openml__numerai28.6__167120
68 openml__Devnagari-Script__167121
69 openml__CIFAR_10__167124
70 openml__Internet-Advertisements__167125
71 openml__dna__167140
72 openml__churn__167141
73 openml__california__361089
74 openml__covertype__7593
75 openml__adult-census__3953
76 openml__Amazon_employee_access__34539
77 openml__shuttle__146212
78 openml__higgs__146606
79 openml__Australian__146818
80 openml__helena__168329
81 openml__jannis__168330
82 openml__volkert__168331
83 openml__robert__168332
84 openml__MiniBooNE__168335
85 openml__guillermo__168337
86 openml__riccardo__168338
87 openml__APSFailure__168868
88 openml__christine__168908
89 openml__dilbert__168909
90 openml__fabert__168910
91 openml__jasmine__168911
92 openml__sylvine__168912
93 openml__airlines__189354
94 openml__dionis__189355
95 openml__albert__189356
96 openml__eye_movements__3897
97 openml__arrhythmia__5
98 openml__skin-segmentation__9965
99 openml__colleges__359942
100 openml__philippine__190410
101 openml__gas-drift-different-concentrations__9987
102 openml__eeg-eye-state__14951
103 openml__house_16H__3686
104 openml__mv__4774
105 openml__bank-marketing__9899
106 openml__Bank-Note-Authentication-UCI__361002
107 openml__sulfur__360966
108 openml__soybean__41
109 openml__breast-cancer__145799
110 openml__haberman__42
111 openml__veteran__4828
112 openml__primary-tumor__146032
113 openml__ecoli__145977
114 openml__blood-transfusion-service-center__145836

In [4]:
df = pd.read_csv("../TabSurvey/metadataset.csv")

# filter by experiment name
df = df.loc[df["exp_name"].str.contains(experiment_name)]

In [5]:
print(len(df))

136410

In [6]:
# for each alg-dataset combination, check for results in the metadataset
import itertools

alg_dataset_pairs = list(itertools.product(alg_list, dataset_list))

alg_list_tmp = []
dataset_list_tmp = []
counts_list_tmp = []
# keep track of the number of results for each pair
for alg, dataset in alg_dataset_pairs:
    alg_list_tmp.append(alg)
    dataset_list_tmp.append(dataset)
    counts_list_tmp.append(sum((df["dataset_name"] == dataset) & (df["alg_name"] == alg)))

df_counts = pd.DataFrame(
    {
        "alg": alg_list_tmp,
        "dataset": dataset_list_tmp,
        "count": counts_list_tmp
    }
)

In [7]:
# pairs with fewer than 300 results (300 = complete.)

print("pairs with fewer than 300 results")
df_counts[df_counts["count"] < 300]

pairs with fewer than 300 results

,alg,dataset,count
1,TabTransformer,openml__kr-vs-kp__3,0
3,TabTransformer,openml__balance-scale__11,0
8,TabTransformer,openml__mfeat-morphological__18,0
17,TabTransformer,openml__splice__45,0
18,TabTransformer,openml__tic-tac-toe__49,0
...,...,...,...
1134,rtdl_FTTransformer,openml__breast-cancer__145799,0
1136,rtdl_FTTransformer,openml__veteran__4828,0
1137,rtdl_FTTransformer,openml__primary-tumor__146032,0
1138,rtdl_FTTransformer,openml__ecoli__145977,0
1139,rtdl_FTTransformer,openml__blood-transfusion-service-center__145836,0

In [9]:
# pairs with fewer than 0 results (complete fail)

print("pairs with 0 results (complete fail)")
df_counts[df_counts["count"] == 0]

pairs with 0 results (complete fail)

,alg,dataset,count
1,TabTransformer,openml__kr-vs-kp__3,0
3,TabTransformer,openml__balance-scale__11,0
8,TabTransformer,openml__mfeat-morphological__18,0
17,TabTransformer,openml__splice__45,0
18,TabTransformer,openml__tic-tac-toe__49,0
...,...,...,...
1134,rtdl_FTTransformer,openml__breast-cancer__145799,0
1136,rtdl_FTTransformer,openml__veteran__4828,0
1137,rtdl_FTTransformer,openml__primary-tumor__146032,0
1138,rtdl_FTTransformer,openml__ecoli__145977,0
1139,rtdl_FTTransformer,openml__blood-transfusion-service-center__145836,0

In [10]:
# for each dataset, what % of algorithms are there at least 200 results?
print(df_counts.groupby("dataset")["count"].apply(lambda x: sum(x > 200) / float(len(alg_list))).sort_values())

dataset
openml__higgs__146606            0.0
openml__albert__189356           0.0
openml__airlines__189354         0.0
openml__helena__168329           0.0
openml__mnist_784__3573          0.0
                                ...
openml__credit-g__31             0.9
openml__cylinder-bands__14954    0.9
openml__ilpd__9971               1.0
openml__haberman__42             1.0
openml__dresses-sales__125920    1.0
Name: count, Length: 114, dtype: float64

Many datasets with no results... Need to look into this.

In [11]:
# for each alg, what % of datasets are there at least 200 results?
print(df_counts.groupby("alg")["count"].apply(lambda x: sum(x > 200) / float(len(dataset_list))).sort_values())

alg
rtdl_FTTransformer    0.131579
SAINT                 0.140351
NODE                  0.201754
rtdl_ResNet           0.271930
rtdl_MLP              0.280702
NAM                   0.307018
DeepFM                0.438596
DANet                 0.482456
TabTransformer        0.587719
STG                   0.728070
Name: count, dtype: float64

It looks like several algs either have lots of errors or the experiments didn't finish. We need to look into this.