# Review Results
General notebook for reviewing results files

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../TabSurvey/metadataset.csv")

# filter by experiment name
df = df.loc[df["exp_name"].str.contains("algs-gpu-1-datasets-b-v3")]

In [6]:
df.head()

,results_bucket_path,dataset_fold_id,dataset_name,target_type,alg_name,hparam_source,trial_number,alg_hparam_id,exp_name,time__train,...,AUC__test,Accuracy__test,F1__test,time__train-eval,MSE__train,R2__train,MSE__val,R2__val,MSE__test,R2__test
1,results/openml__Census-Income__168340/CatBoost...,openml__Census-Income__168340__fold_0,openml__Census-Income__168340,binary,CatBoost,default,0,CatBoost__seed_0__trial_0,algs-gpu-1-datasets-b-v3_111822_212109_1769.zip,11.414740,...,0.949313,0.955996,0.955996,3.611144,NaN,NaN,NaN,NaN,NaN,NaN
3,results/openml__Census-Income__168340/CatBoost...,openml__Census-Income__168340__fold_0,openml__Census-Income__168340,binary,CatBoost,random_1_s0,1,CatBoost__seed_0__trial_1,algs-gpu-1-datasets-b-v3_111822_212109_1769.zip,11.221740,...,0.953155,0.957199,0.957199,4.260885,NaN,NaN,NaN,NaN,NaN,NaN
4,results/openml__Census-Income__168340/CatBoost...,openml__Census-Income__168340__fold_0,openml__Census-Income__168340,binary,CatBoost,random_10_s0,10,CatBoost__seed_0__trial_10,algs-gpu-1-datasets-b-v3_111822_212109_1769.zip,9.951695,...,0.950009,0.955094,0.955094,3.627139,NaN,NaN,NaN,NaN,NaN,NaN
5,results/openml__Census-Income__168340/CatBoost...,openml__Census-Income__168340__fold_0,openml__Census-Income__168340,binary,CatBoost,random_11_s0,11,CatBoost__seed_0__trial_11,algs-gpu-1-datasets-b-v3_111822_212109_1769.zip,9.845292,...,0.943295,0.950516,0.950516,3.659389,NaN,NaN,NaN,NaN,NaN,NaN
6,results/openml__Census-Income__168340/CatBoost...,openml__Census-Income__168340__fold_0,openml__Census-Income__168340,binary,CatBoost,random_12_s0,12,CatBoost__seed_0__trial_12,algs-gpu-1-datasets-b-v3_111822_212109_1769.zip,12.327811,...,0.950776,0.956196,0.956196,3.606089,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# how many unique datasets?
len(df["dataset_name"].unique())

82

In [9]:
# how many rows for each dataset in these experiments?
df["dataset_name"].value_counts().sort_values()

openml__poker-hand__9890                      660
openml__Census-Income__168340                 670
openml__walking-activity__9945                700
openml__aloi__12732                           730
openml__ldpa__9974                            910
                                             ...
openml__profb__3561                          1500
openml__pbc__4850                            1500
openml__page-blocks__30                      1500
openml__autos__9                             1500
openml__LED-display-domain-7digit__125921    1500
Name: dataset_name, Length: 82, dtype: int64

In [10]:
datasets_b_str ="""openml__acute-inflammations__10089
  openml__ada_agnostic__3896
  openml__aloi__12732
  openml__analcatdata_boxing1__3540
  openml__analcatdata_chlamydia__3739
  openml__anneal__2867
  openml__artificial-characters__14964
  openml__audiology__7
  openml__autos__9
  openml__BNG\(credit-a\)__146047
  openml__bodyfat__5514
  openml__car-evaluation__146192
  openml__cardiotocography__9979
  openml__Census-Income__168340
  openml__chess__3952
  openml__chscase_foot__5012
  openml__cjs__14967
  openml__cleveland__2285
  openml__Click_prediction_small__190408
  openml__colic__25
  openml__colic__27
  openml__collins__3567
  openml__cpu_small__4883
  openml__dataset_sales__190418
  openml__dermatology__35
  openml__EgyptianSkulls__5040
  openml__elevators__3711
  openml__fertility__9984
  openml__fl2000__3566
  openml__fri_c0_100_5__3620
  openml__fri_c3_100_5__3779
  openml__gas-drift__9986
  openml__gina_agnostic__3891
  openml__glass__40
  openml__hayes-roth__146063
  openml__heart-c__48
  openml__heart-h__50
  openml__hepatitis__54
  openml__hill-valley__145847
  openml__ionosphere__145984
  openml__iris__59
  openml__irish__3543
  openml__JapaneseVowels__3510
  openml__kin8nm__2280
  openml__kropt__2076
  openml__labor__4
  openml__ldpa__9974
  openml__LED-display-domain-7digit__125921
  openml__libras__360948
  openml__liver-disorders__52948
  openml__lung-cancer__146024
  openml__lymph__10
  openml__magic__146206
  openml__MagicTelescope__3954
  openml__meta__4729
  openml__monks-problems-2__146065
  openml__mushroom__24
  openml__musk__3950
  openml__nursery__9892
  openml__one-hundred-plants-texture__9956
  openml__page-blocks__30
  openml__pbc__4850
  openml__poker-hand__9890
  openml__pollen__3735
  openml__postoperative-patient-data__146210
  openml__profb__3561
  openml__rabe_266__3647
  openml__Satellite__167211
  openml__scene__3485
  openml__socmob__3797
  openml__solar-flare__2068
  openml__sonar__39
  openml__SpeedDating__146607
  openml__sylva_agnostic__3889
  openml__synthetic_control__3512
  openml__tae__47
  openml__transplant__3748
  openml__visualizing_environmental__3602
  openml__visualizing_livestock__3731
  openml__walking-activity__9945
  openml__Wine__190420
  openml__Wisconsin-breast-cancer-cytology-features__361003
  openml__yeast__145793"""

datasets_b_list = [d.strip() for d in datasets_b_str.split("\n")]

In [11]:
len(datasets_b_list)

83

In [12]:
# get all datasets in datasets_b not in the results...

set(datasets_b_list).difference(df["dataset_name"].unique())

{'openml__BNG\\(credit-a\\)__146047'}

In [43]:
# check each...
# df_exp[df_exp["dataset_name"].str.contains("credit-a")]  # no results...
# df_exp[df_exp["dataset_name"].str.contains("Census")]  # no results...
# df_exp[df_exp["dataset_name"].str.contains("hundred")]  # no results...
# df_exp[df_exp["dataset_name"].str.contains("poker")]  # no results...
# df_exp[df_exp["dataset_name"].str.contains("walking")]  # no results...

Empty DataFrame
Columns: [results_bucket_path, dataset_fold_id, dataset_name, target_type, alg_name, hparam_source, trial_number, alg_hparam_id, exp_name, time__train, Log Loss__train, AUC__train, Accuracy__train, F1__train, time__val, Log Loss__val, AUC__val, Accuracy__val, F1__val, time__test, Log Loss__test, AUC__test, Accuracy__test, F1__test, time__train-eval, MSE__train, R2__train, MSE__val, R2__val, MSE__test, R2__test]
Index: []

[0 rows x 31 columns]

## Alg counts

In [13]:
df["alg_name"].value_counts().sort_values()

TabNet      20590
VIME        22340
CatBoost    22500
MLP         23690
XGBoost     24600
Name: alg_name, dtype: int64